.block-title {
  .set-font-params(25px; 30px; bold);
  margin: 0;

  @media (min-width: @tablet-width) {
    .set-font-params(43px; 43px; bold);
  }

  @media (min-width: @desktop-width) {
    .set-font-params(53px; 53px; bold);
  }
}

.block-title__additional {
  display: block;
  color: @basic-second;
  .set-font-params(17px; 25px; bold);
  text-transform: uppercase;
}


// .block-title__additional {
//   .set-font-params(17px; 20px; bold);

//   @media (min-width: @tablet-width) {
//     width: 100px;
//     text-align: center;
//     line-height: 17px;
//   }

//   @media (min-width: @desktop-width) {
//     position: absolute;
//     left: -150px;
//     white-space: normal;
//   }
// }
