.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: @dark-gray;
  text-transform: uppercase;
  padding: 16px 0;
  border: 2px solid @dark-gray;
  display: block;
  text-align: center;
  background-color: @basic-white;
}
