.catalog-item {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 334px auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto;
    grid-template-rows: min-content auto;
  }
}

.catalog-item img {
  width: 260px;
  height: 195px;
  display: block;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 332px;
    height: 332px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 27px 28px 25px;
}

.catalog-item__header {
  padding-bottom: 18px;

  @media (min-width: @desktop-width) {
    padding-bottom: 13px;
  }
}

.catalog-item__title {
  margin: 0;
  .set-font-params(17px; 24px; bold);
  color: @basic-black;

  @media (min-width: @tablet-width) {
    .set-font-params(20px; 24px; bold);
  }
}

.catalog-item__header p {
  margin: 0;
  margin-top: 5px;
  .set-font-params(13px; 30px);

  @media (min-width: @tablet-width) {
    .set-font-params(15px; 30px);
  }
}

.catalog-item__footer {
  border-top: 1px solid @gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-item__price {
  padding-top: 23px;
  .set-font-params(15px; 24px; bold);

  @media (min-width: @tablet-width) {
    .set-font-params(17px; 24px; bold);
  }
}

.catalog-item__cart {
  padding-top: 20px;
}

.catalog-item__cart svg {
  opacity: 0.2;
}

.catalog-item__cart:hover svg {
  opacity: 1;
  fill: @basic-second;
}

.catalog-item__cart:active svg {
  opacity: 0.3;
}


@media (min-width: @desktop-width) {
  .catalog-item:hover .catalog-item__info {
    box-shadow: 0 6px 10px @opacity-black1;
  }

  .catalog-item:active .catalog-item__info {
    box-shadow: 0 3px 5px @opacity-black1;
  }
}
