.catalog__wrapper {
  max-width: @mobile-width;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    max-width: @desktop-width;
    margin-top: 67px;
    margin-bottom: 53px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 111px;
    margin-bottom: 57px;
  }
}

.catalog__list {
  .reset-list;
  display: grid;
  gap: 30px;

  @media (min-width: @tablet-width) {
    gap: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
  }
}

.catalog__item-wrap {
  display: grid;
  border: 1px solid @gray;
}
