.catalog {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 67px;
    padding-bottom: 53px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 111px;
    padding-bottom: 57px;
  }
}

.catalog__wrapper {
  @media (max-width: @mobile-width-only) {
    .container(false);
  }
}

.catalog__list {
  .reset-list;
  display: grid;
  gap: 30px;

  @media (min-width: @tablet-width) {
    gap: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
  }
}

.catalog__item-wrap {
  display: grid;
  border: 1px solid @gray;
}
