.catalog-item img {
  display: block;
}

.catalog-item__header {
  margin: 0 28px;
  padding: 28px 0 18px;
  border-bottom: 1px solid @gray;
}

.catalog-item__product-title {
  margin: 0;
  .set-font-params(17px; 24px; bold);
  color: @basic-black;
}

.catalog-item__header p {
  margin: 0;
  margin-top: 5px;
  .set-font-params(13px; 30px);
}

.catalog-item__footer {
  display: flex;
  margin: 0 28px;
  justify-content: space-between;
}

.catalog-item__price {
  padding: 23px 0 26px;
}

.catalog-item__cart {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 0;
    width: 20px;
    height: 19px;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
  }
}
