.contacts__title {
  padding: 0 30px;
  margin-top: 38px;
}

.contacts__list {
  padding: 0 30px;
  margin: 28px 0 62px;
  .set-font-params(14px; 30px);
}

.contacts__item {
  display: flex;
}

.contacts__type {
  width: 76px;
}

.contacts__address a {
  color: black;
}

.contacts__button {
  margin: 40px 30px;
}
