.intro {
  .container;
  position: relative;
  background-color: @basic-first;

  &--image {
    z-index: -2;
    margin-bottom: 133px;
    background-image: url("../img/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;

    &::after {
      position: absolute;
      bottom: -12px;
      left: 0;
      content: "";
      width: 100%;
      padding-top: 3%;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-size: cover;

      @media (min-width: @desktop-width) {
        bottom: -17px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 17px;
  }

  &::before {
    position: relative;
    display: block;
    content: "";
    padding-top: calc(70% + 195px);
    margin-top: -18px;

    @media (min-width: @tablet-width) {
      margin-top: -2px;
      padding-top: 0;
      height: 746px;
    }
  }
}

.itro__title {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  @media (min-width: @tablet-width) {
    top: 154px;
  }

  @media (min-width: @desktop-width) {
    top: 157px;
  }
}

.intro__list {
  position: absolute;
  width: 100%;
  bottom: -133px;
  left: 0;
  .reset-list;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    .container;
  }
}

.intro__link {
  display: block;
  background-color: @basic-second;
  .set-font-params(19px; 24px; bold);
  color: @basic-white;
  padding: 24px 30px 31px;

  @media (min-width: @tablet-width) {
    padding: 25px 36px 34px;
    .set-font-params(20px; 30px; bold);
  }

  &--interior {
    background-image: url("../img/interior.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 36px) center;
  }

  &--toy {
    background-color: @green;
    background-image: url("../img/toy.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;

    @media (min-width: @tablet-width) {
      background-position: calc(100% - 33px) center;
    }
  }
}
