.modal-cart {
  padding: 28px 30px 46px 30px;
  text-align: center;
}

.modal-cart__title {
  text-transform: uppercase;
  padding: 0 42px;
}

.modal-cart p {
  margin: 21px 0 14px;
  font-size: 15px;
  line-height: 30px;
}

.modal-cart__sizes {
  display: flex;
  margin-bottom: 31px;
}

.modal-cart__button-size {
  flex-grow: 1;
  margin-right: 7px;
}

.modal-cart__button-size:last-child {
  margin-right: 0;
}

.modal-cart__button-size--active {
  border-color: @basic-second;
}

.modal-cart__button {
  color: @basic-white;
  background-color: @basic-second;
  border-color: @basic-second;
}
