.offers__list {
  .reset-list;
}

.offers__link {
  display: block;
  background-color: @basic-second;
  .set-font-params(19px; 24px; bold);
  color: @basic-white;
  padding: 24px 160px 31px 30px;

  &--right {
    background-color: @green;
  }
}
