.order-form {
  .set-font-params(17px; 18px; bold);

  @media (min-width: @tablet-width) {
    .set-font-params(19px; 18px; bold);
  }
}

.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__fieldset--text .wrapper,
.order-form__fieldset--tel .wrapper,
.order-form__fieldset--email .wrapper {
  padding-bottom: 35px;
}


.order-form__fieldset .wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.order-form__fieldset--tel label {
  margin-top: 16px;

  &:hover::before,
  &:focus-within::before {
    opacity: 1;
    background-position-y: 24px;
  }

  &::before {
    position: absolute;
    bottom: 52px;
    right: 37px;
    display: block;
    content: "";
    width: 25px;
    height: 24px;
    background-image: url("../img/phone.svg");
    opacity: 0.2;

    @media (min-width: @tablet-width) {
      bottom: 17px;
      right: 27px;
    }

    @media (min-width: @desktop-width) {
      right: 7px;
    }
  }
}

.order-form__fieldset--email label::before {
  position: absolute;
  bottom: 50px;
  right: 31px;
  display: block;
  content: "";
  width: 32px;
  height: 21px;
  background-image: url("../img/mail.svg");
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    bottom: 65px;
    right: 22px;
  }

  @media (min-width: @desktop-width) {
    right: 4px;
  }
}

.order-form__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  .set-font-params(17px; 16px; bold);
  color: @basic-second;
  text-transform: uppercase;

  &::after {
    content: "";
    flex-grow: 1;
    width: 100px;
    height: 1px;
    background-color: @basic-second;
    margin-left: 25px;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 66px;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 175px;
    padding-left: 60px;
  }
}

.order-form__list {
  .reset-list;

  &--radio {
    margin-top: 30px;
    margin-bottom: 30px;

    @media (min-width: @tablet-width) {
      margin-top: 0;
      margin-bottom: 27px;
    }
  }

  &--checkbox {
    margin-top: 25px;
    margin-bottom: 33px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 26px;
      margin-top: 49px;
      margin-bottom: 26px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 58px;
    }
  }

  &--text {
    margin-top: 29px;

    @media (min-width: @tablet-width) {
      margin-top: 27px;
      margin-bottom: 50px;
    }
  }
}

.order-form__list--radio .order-form__item {
  padding-left: 60px;
  min-height: 42px;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
    min-height: 52px;
    margin-bottom: 23px;
  }
}

.order-form__list--checkbox .order-form__item {
  padding-left: 60px;
  min-height: 38px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-left: 82px;
    min-width: 205px;
    min-height: 52px;
    margin-bottom: 24px;
  }
}

.order-form__list--text .order-form__item {
  margin-top: 22px;
  display: grid;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.order-form__item {
  position: relative;
  display: flex;
  align-items: center;
}

.order-form__radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 2px solid @extra-dark-gray;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: 4px;
    width: 50px;
    height: 50px;
  }

  @media (min-width: @desktop-width) {
    left: 0;
  }
}

.order-form__radio:checked + label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: @basic-second;

  @media (min-width: @tablet-width) {
    width: 21px;
    height: 21px;
    left: 19px;
    top: 15px;
  }

  @media (min-width: @desktop-width) {
    left: 15px;
  }
}

.order-form__checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  border: 2px solid @extra-dark-gray;

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.order-form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 12px;
  width: 21px;
  height: 11px;
  border-left: 2px solid @basic-black;
  border-bottom: 2px solid @basic-black;
  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    left: 13px;
    top: 14px;
    width: 29px;
    height: 16px;
  }
}

.order-form__text {
  padding: 17px 0;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  .set-font-params(17px; 18px);
  border: 0;
  box-shadow: inset 0 -2px 0 @basic-black;

  &::placeholder {
    color: fade(@basic-black, 30%);
  }

  &:focus {
    outline: none;
  }

  @media (min-width: @tablet-width) {
    padding-left: 17px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 15px;
    margin-left: 27px;
    .set-font-params(19px; 18px);
  }
}

.order-form__tel {
  display: block;
  padding: 19px 0;
  padding-right: 100px;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  .set-font-params(17px; 18px);
  border: 0;
  box-shadow: inset 0 -2px 0 @basic-black;

  &::placeholder {
    color: fade(@basic-black, 30%);
  }

  &:focus {
    outline: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: 27px;
    padding-left: 18px;
    padding-right: 60px;
    padding-bottom: 15px;
    .set-font-params(19px; 18px);
  }

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }
}

.order-form__email {
  display: block;
  padding: 19px 0;
  padding-right: 100px;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  .set-font-params(17px; 18px);
  border: 0;
  box-shadow: inset 0 -2px 0 @basic-black;

  &::placeholder {
    color: fade(@basic-black, 30%);
  }

  &:focus {
    outline: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: 18px;
    margin-bottom: 50px;
    padding-left: 18px;
    padding-right: 60px;
    padding-bottom: 13px;
    .set-font-params(19px; 18px);
  }
}

.order-form__fieldset--textarea {
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-top: 16px;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 50px;
  }
}

.order-form__textarea {
  display: block;
  width: 100%;
  min-height: 142px;
  margin-top: 22px;
  padding: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  .set-font-params(17px; 18px);
  border-radius: 0;
  border: 2px solid @basic-black;

  &::placeholder {
    color: fade(@basic-black, 30%);
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: @basic-second;
  }

  @media (min-width: @tablet-width) {
    margin-top: 34px;
    .set-font-params(19px; 18px);
  }
}

.order-form__footer {
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
}

.order-form p {
  margin: 0;
  margin-top: 5px;
  .set-font-params(14px; 16px);
  color: @extra-dark-gray;

  @media (min-width: @tablet-width) {
    margin: 0;
    .set-font-params(17px; 30px);
    justify-self: end;
  }
}

.order-form__button {
  margin-top: 30px;
  width: 100%;
  .set-font-params(17px; 20px; bold);

  @media (min-width: @tablet-width) {
    width: 230px;
    order: -1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
  }
}

.order-form__text,
.order-form__tel,
.order-form__email {
  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 @basic-second;
  }
}

.order-form__fieldset--email label {
  &:hover::before,
  &:focus-within::before {
    opacity: 1;
    background-position-y: 21px;
  }
}

@media (min-width: @tablet-width) {
  .order-form__fieldset--color,
  .order-form__fieldset--tel,
  .order-form__fieldset--email,
  .order-form__fieldset--tel input,
  .order-form__fieldset--email input {
    background-color: @basic-first;
  }

  .order-form__list,
  .order-form__fieldset--tel label,
  .order-form__fieldset--email label,
  .order-form__fieldset--textarea textarea {
    position: relative;
    grid-column: 2;
  }

  .order-form__fieldset--type .order-form__title {
    margin-top: 18px;
  }

  .order-form__fieldset--text .order-form__title {
    margin-top: 70px;
  }

  .order-form__fieldset--email .order-form__title {
    margin-top: 42px;
  }

  .order-form__fieldset--textarea .order-form__title {
    margin-top: 53px;
  }

  .order-form__radio + label,
  .order-form__checkbox + label {
    &:hover::before {
      border-color: @basic-second;
    }

    &:active::before {
      border-color: @opacity-black3;
    }
  }
}
