.page-footer {
  background-color: @basic-first;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 32px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer a[href]:hover svg {
  fill: @extra-dark-green;
}

.page-footer a[href]:active svg {
  opacity: 0.3;
}

.page-footer__copyright {
  margin: 0;
  .set-font-params(19px; 18px; bold);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid @light-gray;

  @media (min-width: @tablet-width) {
    border: none;
    justify-content: flex-end;
  }
}


.page-footer__copyright a {
  margin-left: 27px;
}

.page-footer__copyright svg {
  fill: @basic-second;
}
