.page-footer {
  padding: 0 30px;
  background-color: @basic-first;
}

.page-footer__copyright {
  margin: 0;
  padding: 22px 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid @light-gray;
}


.page-footer__copyright a {
  margin-left: 27px;
}
