.reviews__wrapper {
  position: relative;
  margin-top: 48px;
  padding-bottom: 51px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-position: center;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;
    padding-top: 80px;
    padding-bottom: 133px;
    background-image: url("../img/review1.jpg");
    background-position: top left;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review1@2x.jpg");
      background-size: 350px auto;
    }

    &::before {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg");
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 82px;
    padding-bottom: 184px;
    background-position: @desktop-body-gap 0;

    &::before {
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-repeat: no-repeat;
    }
  }
}

.reviews__list {
  .reset-list;
  .set-font-params(15px; 30px);

  @media (min-width: @tablet-width) {
    order: 1;
    grid-column: 1 / span 2;
    .set-font-params(17px; 30px);
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / span 2;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 33px;
  min-height: 120px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 14px;
  }
}

.reviews__author {
  .set-font-params(17px; 24px);
  font-style: normal;

  @media (min-width: @tablet-width) {
    .set-font-params(18px; 24px);
  }

  @media (min-width: @desktop-width) {
    .set-font-params(17px; 24px);
  }
}

.reviews__name {
  margin: 0;
  margin-bottom: 4px;
  font-weight: bold;
}

.reviews__author a {
  color: @basic-black;
}

.reviews__controls {
  display: flex;
  margin-bottom: 38px;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: @tablet-body-gap;
    margin: 0;
    bottom: 135px;
    width: 175px;
  }

  @media (min-width: @desktop-width) {
    bottom: 188px;
    right: @desktop-body-gap;
  }
}

.reviews__arrow {
  position: relative;
  flex-grow: 1;
  margin: 0;
  height: 52px;
  background-color: @basic-white;
  border-radius: none;
  border: 1px solid @gray;

  &--left {
    border-right: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    top: calc(50% - 10px);
  }

  &--left::before {
    right: calc(50% + 3px);
    border-left: 4px solid @basic-black;
    border-bottom: 4px solid @basic-black;
  }

  &--right::before {
    border-right: 4px solid @basic-black;
    border-top: 4px solid @basic-black;
    left: calc(50% + 3px);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 4px;
    background-color: @basic-black;
    right: calc(50% - 25px);
    top: calc(50% - 3px);
  }

  &--left::after {
    right: calc(50% - 25px);
  }

  &--right::after {
    left: calc(50% - 25px);
  }

  @media (min-width: @tablet-width) {
    border: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .reviews .block-title {
    margin-top: 8px;
  }

  .reviews__button {
    width: 175px;
    margin-left: auto;
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .reviews .block-title {
    margin-top: 0;
    grid-column: 2;
  }
}
