.reviews {
  @media (min-width: @tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 4fr 1fr;
    position: relative;
    padding-top: 54px;
    padding-bottom: 163px;
    background-image: url("../img/review1.jpg");
    background-position: top left;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      padding-top: 2.03%;
      width: 100%;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-size: cover;
      background-position: center;
    }
  }
}

.reviews__list {
  .reset-list;
  .set-font-params(15px; 30px);

  @media (min-width: @tablet-width) {
    order: 1;
    grid-column: 1 / span 2;
    .set-font-params(17px; 30px);
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / span 2;
  }
}

.reviews__item-wrapper {
  padding: 14px 0 30px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  min-height: 120px;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 14px;
    margin-right: 70px;
  }
}

.reviews__author {
  .set-font-params(17px; 24px);
  font-style: normal;

  @media (min-width: @tablet-width) {
    .set-font-params(18px; 24px);
  }

  @media (min-width: @desktop-width) {
    .set-font-params(17px; 24px);
  }
}

.reviews__name {
  margin: 0;
  font-weight: bold;
}

.reviews__author a {
  color: @basic-black;
}

.reviews__controls {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
  }

  @media (min-width: @desktop-width) {
    bottom: 146px;
  }
}

.reviews__arrow {
  position: relative;
  flex-grow: 1;
  margin: 0;
  height: 52px;
  background-color: @basic-white;
  border-radius: none;
  border: 1px solid @gray;

  &--left {
    border-right: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    top: calc(50% - 10px);
  }

  &--left::before {
    right: calc(50% + 3px);
    border-left: 4px solid @basic-black;
    border-bottom: 4px solid @basic-black;
  }

  &--right::before {
    border-right: 4px solid @basic-black;
    border-top: 4px solid @basic-black;
    left: calc(50% + 3px);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 4px;
    background-color: @basic-black;
    right: calc(50% - 25px);
    top: calc(50% - 3px);
  }

  &--left::after {
    right: calc(50% - 25px);
  }

  &--right::after {
    left: calc(50% - 25px);
  }

  @media (min-width: @tablet-width) {
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .reviews__button {
    width: 175px;
    margin-left: auto;
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .reviews .block-title {
    grid-column: 2;
  }
}
