.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item a {
  font-weight: bold;
  color: @basic-black;
  display: block;
  padding: 28px 0 27px 76px;
  box-shadow: 0 1px 0 @gray,
    inset 0 1px 0 @gray;
}

.site-list__item--logo a {
  padding: 19px 0 19px 116px;
}
