.social-list {
  .reset-list;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item {
  & a {
    display: block;
    background-repeat: no-repeat;
    margin: 0 20px;
  }

  &--insta a {
    width: 22px;
    height: 21px;
    background-image: url("../img/insta.svg");
  }

  &--fb a {
    width: 15px;
    height: 28px;
    background-image: url("../img/fb.svg");
  }

  &--twitter a {
    width: 23px;
    height: 20px;
    background-image: url("../img/twitter.svg");
  }
}
