.social-list {
  .reset-list;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item {
  position: relative;
  margin: 0 20px;
  width: 28px;
  height: 28px;
}

.social-list__item a::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.social-list__item--insta a::before {
  left: 3px;
  top: 3px;
  background-image: url("../img/insta.svg");
}

.social-list__item--fb a::before {
  left: 6px;
  top: 0;
  background-image: url("../img/fb.svg");
}

.social-list__item--twitter a::before {
  left: 2px;
  top: 4px;
  background-image: url("../img/twitter.svg");
}
