.week-product {
  position: relative;
  padding-top: 31px;
  padding-bottom: 42px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-position: center;
  }

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 64px;

    &::before {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg");
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-bottom: 0;

    &::before {
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-repeat: no-repeat;
    }
  }
}

.week-product__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 2fr 3fr;
    padding-top: 54px;
    padding-bottom: 88px;
  }
}

.week-product__text {
  .set-font-params(15px; 24px);
  margin: 0;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    min-height: 90px;
    margin: 0;
    .set-font-params(17px; 30px);
  }
}

.week-product__params {
  margin: 22px 0 28px;
  .set-font-params(15px; 20px);

  @media (min-width: @tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
  }
}

.week-product__item {
  display: flex;
  border-bottom: 1px solid @gray;
  padding: 7px 0 12px;
}

.week-product__param {
  width: 98px;
}

.week-product__value {
  margin: 0;
}

.week-product__image {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 334px;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
  }
}

.week-product__price {
  margin: 0;
  padding: 20px 0 25px;
  text-align: center;
  .set-font-params(17px; 24px; bold);
  color: @extra-dark-gray;

  @media (min-width: @tablet-width) {
    margin-bottom: 7px;
    .set-font-params(20px; 24px; bold);
  }
}

.week-product__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
  }
}

@media (min-width: @tablet-width) {
  .week-product__header {
    grid-column: 1 / span 2;
  }

  .week-product .block-title {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 43px;
  }

  .week-product span {
    justify-self: end;
    width: 65px;
    margin-right: 34px;
    margin-top: 2px;
    text-align: center;
    line-height: 17px;
  }

  .week-product__image {
    grid-column: 2;
    grid-row: 2 / span 2;
    margin-top: 10px;
  }

  .week-product__footer {
    align-self: end;
  }

  .week-product__info,
  .week-product__footer {
    padding-right: 42px;
  }
}

@media (min-width: @desktop-width) {
  .week-product__header {
    grid-row: 1;
    margin-top: 62px;
  }

  .week-product .block-title {
    position: relative;
    margin: 0;
    grid-template-columns: 1fr 2fr;
    z-index: 1;
    white-space: nowrap;
  }

  .week-product span {
    justify-self: center;
    order: -1;
    min-width: 175px;
    margin-right: 0;
    padding: 0 46px;
    white-space: normal;
  }

  .week-product__image {
    grid-column: 3;
    grid-row: 1 / space 3;
    margin: 0;
  }

  .week-product__info,
  .week-product__footer {
    grid-column: 2;
    padding-right: 58px;
  }
}
