.set-font-params(@font-size: 17px; @line-height: 24px; @font-weight: normal) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}

.reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}
