// Colors

@basic-white: #FFFFFF;
@basic-black: #000000;
@basic-first: #F1F1F1;
@basic-second: #63D1BB;

@dark: #231F20;
@extra-dark-gray: #444444;
@dark-gray: #C6C6C6;
@gray: #ECECEC;
@light-gray: #E5E5E5;
@green: #59D5BC;
@dark-green: #56C3B2;
@extra-dark-green: #46C1AE;
@beige: #F9F9F9;


@opacity-basic-second1: rgba(99, 209, 187, 0.1);
@opacity-white3: rgba(255, 255, 255, 0.3);
@opacity-black25: rgba(0, 1, 1, 0.25);
@opacity-black3: rgba(0, 1, 1, 0.3);
@opacity-black6: rgba(0, 1, 1, 0.6);

// Viewports

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
@tablet-body-gap: 50px;
@desktop-body-gap: 50px;
@mobile-body-gap: 30px;
